<div class="slider-area " style="margin-bottom: 3%;">
    <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12" style="font-size: small ">
                    <div class="hero-cap text-center" style="font-size: small ">
                        <h3 style="color: white ;">Update Applicant status for shortlisted candidates</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class=" container">
<div  style="margin-bottom: 3%;">
  <form name="form" (ngSubmit)="getList(searchJobId)">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
            <!-- <label for = "passout">Year of passout</label> -->
            <input class="form-control" name="jobid" id="jobid" type="text" #jobid="ngModel" [(ngModel)]="searchJobId" placeholder="Enter jobid">
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">Get shortlisted Applicants</button>
        </div>
    </div>
</form>
</div>

<div class="card">
  <div class="card-header">
      Short listed Applicants
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table"
            *ngIf = 'shortlistData && shortlistData.length '>
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Current status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = 'let data of shortlistData, '>
  
                        <td>{{ data.name }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.application_status }}</td>
                        <td>
                            <label for = "status">Choose the status to be updated</label>
                            <select id="status" name="status" [(ngModel)]="upAppStatus" (change)='onOptionsSelected4($event)' class="form-control">
                                <option value="screening1">screening1</option>
                                <option value="screening2">screening2</option>
                                <option value="selected">selected</option>
                                <option value="not selected">not selected</option>

                            </select>
                        </td>
                        <!-- <td><input class="form-control" name="appStatus" id="appStatus" type="text" #appStatus="ngModel" [(ngModel)]="upAppStatus" placeholder="Enter the status"></td> -->
                        <td><button (click)="markAppStatus(data)" class="btn btn-primary">Update Application status</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
  