<main>
       
       
    <!-- How  Apply Process Start-->
    <div class="single-slider slider-height d-flex align-items-center apply-process-area apply-bg pt-150 pb-150 landingslider">
        <div class="container">
            <!-- Section Tittle -->         
            
            <!-- Apply Process Caption -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-search"></span>
                        </div>
                        <div class="process-cap">
                           <h5>Job Seeker ?</h5>
                           <p>Choose the one that suits you from the hundreds of great job opportunities presented by ICTAK.</p>
                           <a routerLink="student" class="genric-btn success circle">Explore Student Area</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-curriculum-vitae"></span>
                        </div>
                        <div class="process-cap">
                           <h5>Employer ?</h5>
                           <p>Choose the best candidates who have the best technical knowledge and who suits you the best.</p>
                           <a routerLink="employer" class="genric-btn success circle">Explore Employer area</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    
                </div>
            </div>
         </div>
    </div>
    <!-- How  Apply Process End-->
   
</main>
