<div class="slider-area ">
    <div class="single-slider section-overly d-flex align-items-center" style="height:150px!important;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h3 style="color: white;">Job requirement details</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <button class="btn btn-warning" style="cursor:pointer" (click)="back()">Back</button>
            <button class="btn btn-warning" style="cursor:pointer; margin-left: 20px;" (click)="editJob()">
                Edit</button>
            <button class="btn btn-danger" style="cursor:pointer; margin-left: 20px;" (click)="shortlistApp()">
                Shortlist</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Job id: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.jobid }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Position: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.position }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Job description: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.jd_text }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Vaccancy: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.number }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Salary: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.salary }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Skills: </p>
        </div>
        <div class="col-md-6">
            <p>{{ skillsList }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Location: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.location }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Apply from: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.start_date }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Apply till: </p>
        </div>
        <div class="col-md-6">
            <p>{{ viewJob.end_date }}</p>
        </div>
    </div>
</div>