<main>
       
    <div class="single-slider slider-height d-flex align-items-center apply-process-area apply-bg pt-150 pb-150 landingslider">
        <div class="container">
      
          <!-- Apply Process Caption -->
        <div class="row">
          <div class="col-lg-4 col-md-6">
          <div class="single-process text-center mb-30">
            <div class="process-ion">
                <span class="flaticon-search"></span>
            </div>
            <div class="process-cap">
               <h5>Not Registered ?</h5>
               <p>Register here to find you Job from the hundreds of great job opportunities presented by ICTAK..</p>
               <a routerLink="/student/signup" class="genric-btn success circle">Sign Up Here</a>
            </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-process text-center mb-30">
            <div class="process-ion">
              <span class="flaticon-curriculum-vitae"></span>
            </div>
            <!-- <div class="py-5"> -->
              <div class="process-cap">
                <h5>Student Login</h5>
                <!-- <div class="col-md-12 mx-auto"> -->
                  <span class="anchor" id="formLogin"></span>
            
                  <!-- form card login -->
                  <!-- <div class="card rounded-0"> -->
                    <!-- <div class="card-header">
                      <h3 class="mb-0">Login</h3>
                    </div> -->
                    <!-- <div class="card-body"> -->
                      <form  (ngSubmit)= "loginUser()">
                        <div style="margin-bottom: 15px;">
                        <div class="mt-10" >
                          <!-- <label for="uname1">Email</label> -->
                          <input type="email"class="form-control" name="uname"placeholder="Enter user-name" [(ngModel)]= "user.email"/>
                      
                        </div>
                        <div class="mt-10">
                          <!-- <label>Password</label> -->
                          <input type="password" class="form-control"name="password"placeholder="Enter password" [(ngModel)]= "user.password"/>
                          </div>
                        
                        <button type="submit" style="margin-top: 6px;"class="genric-btn success circle">Login</button>
                      </div>
                      </form>                             
                    <!-- </div> -->
                    <!--/card-block-->
                  <!-- </div> -->
                  <!-- /form card login -->
            
                <!-- </div> -->
            
            
              </div>
            <!-- </div> -->
          </div>  
          </div>
        </div>
       </div>
      </div>
        
        
        
         
   
    <!-- How  Apply Process End-->
   
</main>
