<main>
    <div class="slider-area ">
        <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Reset Password</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="job-listing-area pt-30 pb-120">
        <div class="container">
            <div class="row">
                <!-- Left content -->
                <div class="col-xl-3 col-lg-3 col-md-4">
                    
                       
                    <app-admn-menu></app-admn-menu>                      
                    
                   
                </div>
                <!-- Right content -->
                <!-- <div class="col-xl-9 col-lg-9 col-md-8"> -->
                    <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-tour"></span>
                        </div>
                        <div class="process-cap">
                           <h5>Reset Password</h5>
                           <form  #resetForm="ngForm" (ngSubmit)="resetAdmin()" >
                           <div class="form-group mt-10">
                            <input 
                            required
                            type="text" 
                            name="password" 
                            placeholder="Password"
                            onfocus="this.placeholder = ''" 
                            onBlur="this.placeholder = 'New password'" 
                            class="form-control single-input"  >
                            </div>
                            
                            <div class="form-group mt-10">
                            <input 
                            required
                            type="password" 
                            name="comfirm" 
                            placeholder="Confirm Password"
                            onfocus="this.placeholder = ''" 
                            onBlur="this.placeholder = 'Confirm Password'" 
                            class="form-control single-input" >
                            </div>
                            <br>
                            <button type="submit" class="genric-btn success circle">Ok </button>      
                           </form>
                           <br>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</main>
