<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">                            
                            <h3 style="color: white;">Profile</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="job-listing-area pt-30 pb-120">
<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-10">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && editProf()" novalidate>
            <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" name="title" [(ngModel)]="EmpProf.title" required
                    #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.errors }" />
                <div *ngIf="f.submitted && title.errors" class="invalid-feedback">
                    <div *ngIf="title.errors['required']">Company Name is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>CONTACT NUMBER</label>
                <input type="text" class="form-control" name="phone" [(ngModel)]="EmpProf.phone" required
                pattern = "^(\+91[\-\s]?)?[0]?(91)?[789]\d{9}$" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.errors }" />
                <div *ngIf="f.submitted && phone.errors" class="invalid-feedback">
                    <div *ngIf="phone.errors['required']">CONTACT NUMBER is required</div>
                    <div *ngIf="phone.errors['pattern']">
                        Must be +91xxxxxxxxxx or 91xxxxxxxxxx or xxxxxxxxxx or 0xxxxxxxxxx 
                    </div>
                </div>
            </div>
            <div>
            <label>Email</label>
            <p>{{EmpProf.email}}</p>
            </div>
            <!-- <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" ng-disabled= 1 [(ngModel)]="EmpProf.email" required email
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }" />
                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">Email is invalid</div>
                    <div *ngIf="email.errors['pattern']">Invalid email pattern</div>
                </div>
            </div> -->
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="EmpProf.password" required
                    minlength="6" maxlength="40" #password="ngModel"
                    pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                    <div *ngIf="password.errors['maxlength']">
                        Username must not exceed 40 characters
                    </div>
                    <div *ngIf="password.errors['pattern']">
                        Must be of min length 8, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character.
                      </div>
                </div>
            </div>
            <div class="form-group">
                <label>Company GSTIN</label>
                <input required class="form-control" name="gstin" id="gstin" type="gstin" [(ngModel)]="EmpProf.gstin"
                    onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Enter GSTIN number'"
                    placeholder="GSTIN number">
            </div>
            <div class="form-group">
                <label>Company Info</label>
                <textarea class="form-control" name="companyInfo" id="companyInfo" cols="30" rows="9"
                    [(ngModel)]="EmpProf.companyInfo" onFocus="this.placeholder = ''"
                    onBlur="this.placeholder = 'Company info'" placeholder=" Enter Company details"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                <div class="col-md-3"></div>
                <button type="submit" class="btn btn-primary">Update Profile</button>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button class="btn btn-warning" style="cursor:pointer" (click)="back()">Back</button>
                </div>
            </div>
            </div>
        </form>
        </div>
    </div>
</div>
</div>
</main>