<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">                            
                            <h3 style="color: white;">{{title}} Dashboard</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    
    <div class="job-listing-area pt-30 pb-20">
        <div class="container">
            <div class="row">
                <!-- Left content -->
                <div class="col-xl-1 col-lg-1 col-md-2">
                </div>
                <!-- Right content -->
                <div class="col-xl-11 col-lg-11 col-md-10">
                    
                    <section class="featured-job-area">
                        <div class="container" style="margin-top:40px;">
                            <div class="row">
                                <div class="col-md-4">
                                    <a routerLink="../job-list">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-ylo"><i class="fa fa-suitcase"></i></span>                        
                                        <div class="info-box-content brd-ylo">
                                        <h4>My </h4>    
                                        <h4>Jobs</h4>                               
                                        </div>                                        
                                    </div>
                                    </a>
                                </div>

                                
                                <div class="col-md-4">
                                    <a routerLink="../job-post">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-aqua"><i class="fa fa-id-card"></i></span>                        
                                        <div class="info-box-content brd-aqua">
                                        <h4>Post </h4>    
                                        <h4>New Job</h4>                               
                                        </div>                                        
                                    </div>
                                    </a>
                                </div>

                                <div class="col-md-4">
                                    <a routerLink="../appln-status">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-blu"><i class="fa fa-list"></i></span>                        
                                        <div class="info-box-content brd-blu">
                                        <h4>Manage </h4>    
                                        <h4>Shortlists</h4>                               
                                        </div>                                        
                                    </div>
                                    </a>
                                </div>

                            </div>
                            
                        </div>
                    </section>
                    
                </div>
            </div>
        </div>
    </div>
    
    
</main>
