<div class="slider-area ">
  <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
      <div class="container">
          <div class="row">
              <div class="col-xl-12" style="font-size: small ">
                  <div class="hero-cap text-center" style="font-size: small ">
                      <h4 style="color: white ;">Add Offer details for the jobs posted</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
<form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && AddOffer()"     novalidate>
    <div class="form-group">
      <label>Job Id</label>
      <input type="text" class="form-control" name="job_id" [(ngModel)]="addOffer.job_id" required #job_id="ngModel" 
      [ngClass]="{ 'is-invalid': f.submitted && job_id.errors }"/>
      <div *ngIf="f.submitted && job_id.errors" class="invalid-feedback">
        <div *ngIf="job_id.errors['required']">Job Id is required</div>
      </div>
    </div>
    
    <div class="form-group">
        <label>DWMS Id</label>
        <input type="text" class="form-control" name="dwms_id" [(ngModel)]="addOffer.dwms_id" required #dwms_id="ngModel" 
        [ngClass]="{ 'is-invalid': f.submitted && dwms_id.errors }"/>
        <div *ngIf="f.submitted && dwms_id.errors" class="invalid-feedback">
          <div *ngIf="dwms_id.errors['required']">DWMS id is required</div>
        </div>
      </div>
    <div class="form-group">
      <label>Student Email</label> 
      <input type="email" class="form-control" name="email" [(ngModel)]="addOffer.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" email #email="ngModel"
       [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
      />
      <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
        <div *ngIf="email.errors['required']">Email is required</div>
        <div *ngIf="email.errors['email']">Email is invalid</div>
        <div *ngIf="email.errors['pattern']">Invalid email pattern</div>
      </div>
    </div>
    <div class="form-group">
      <label>Batch</label>
      <input required class="form-control" name="batch" id="batch" type="text" #batch="ngModel" [(ngModel)]="addOffer.batch" onFocus="" this.placeholder = "" onBlur="" this.placeholder = "Enter ICTAK batch" placeholder="ICTAK batch"
      [ngClass]="{ 'is-invalid': f.submitted && batch.errors }"/>
      <div *ngIf="f.submitted && batch.errors" class="invalid-feedback">
        <div *ngIf="batch.errors['required']">Batch details required</div>
      </div>
  </div>
    <div class="form-group">
        <label>Name</label>
        <input required class="form-control" name="name" id="name" type="text" #name="ngModel" [(ngModel)]="addOffer.name" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Enter Student name'" placeholder="Student name"
        [ngClass]="{ 'is-invalid': f.submitted && name.errors }"/>
        <div *ngIf="f.submitted && name.errors" class="invalid-feedback">
          <div *ngIf="name.errors['required']">Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Company Name</label>
        <input required class="form-control" name="company" id="company" type="text" #company="ngModel" [(ngModel)]="addOffer.company" onFocus="" this.placeholder = "" onBlur="this.placeholder = 'Company info'" placeholder=" Enter Company name"
        [ngClass]="{ 'is-invalid': f.submitted && company.errors }"/>
        <div *ngIf="f.submitted && company.errors" class="invalid-feedback">
          <div *ngIf="company.errors['required']">Company name is required</div>
        </div>
    </div>
    <div class="form-group">
      <label>Designation</label>
      <input required class="form-control" name="designation" id="designation" type="text" #designation="ngModel" [(ngModel)]="addOffer.designation" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Designation'" placeholder=" Enter Designation Offered"
      [ngClass]="{ 'is-invalid': f.submitted && designation.errors }"/>
        <div *ngIf="f.submitted && designation.errors" class="invalid-feedback">
          <div *ngIf="designation.errors['required']">Designation is required</div>
        </div>
  </div>
  <div class="form-group">
    <label>Offer date</label>
    <input required class="form-control" name="offer_date" id="offer_date" pattern="^\d{4}-([0]\d|1[0-2])-([0-2]\d|3[01])$" type="text" #offer_date="ngModel" [(ngModel)]="addOffer.offer_date" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'offer_date'" placeholder=" Enter offer date"
    [ngClass]="{ 'is-invalid': f.submitted && offer_date.errors }"/>
        <div *ngIf="f.submitted && offer_date.errors" class="invalid-feedback">
          <div *ngIf="offer_date.errors['required']">Offer date is required</div>
          <div *ngIf="offer_date.errors['pattern']">Please enter the date in YYYY-MM-DD format </div>
        </div>
</div>
<div class="form-group">
  <label>CTC per annum</label>
  <input required class="form-control" name="ctc_per_annum" id="ctc_per_annum" type="text" #ctc="ngModel" [(ngModel)]="addOffer.ctc_per_annum" onFocus="this.placeholder = ''" onBlur="this.placeholder = 'Designation'" placeholder=" CTC per annum"
  [ngClass]="{ 'is-invalid': f.submitted && ctc.errors }"/>
        <div *ngIf="f.submitted && ctc.errors" class="invalid-feedback">
          <div *ngIf="ctc.errors['required']">CTC is required</div>
        </div>
</div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add Offer</button>
      </div>
    </form>
  </div>
  