<div class="slider-area ">
  <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">                            
                      <h2>Dashboard</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container col-lg-11">
  <div class="row">
    <div class="col col-lg-6 mt-5">
      <div
        class="my-5 pl-40 py-3 bg-light align-items-center justify-content shadow p-3 mb-5 bg-white rounded"
      >
        <div class="text-center my-3">
          <i class="fas fa-5x fa-briefcase" aria-hidden="true"></i>
        </div>
        <h5 class="text-center "><span class="text-info">JOBS FOR YOU</span></h5>

        <div class="text-center text-uppercase text-primary">
          <a routerLink="/student/job" class="genric-btn success-border medium"
            >CLICK HERE<span class="lnr lnr-arrow-right"></span
          ></a>
          <div style="height: 10px"></div>
        </div>
      </div>

      <div
        class="my-5 pl-40 py-3 bg-light align-items-center justify-content shadow p-3 mb-5 bg-white rounded"
      >
        <div class="text-center my-3">
          <i class="fas fa-5x fa-history" aria-hidden="true"></i>
        </div>
        <h5 class="text-center">
          <span class="text-info">YOUR JOB HISTORY</span>
        </h5>
        <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->

        <!-- <div class="row">
                    <div class="col"><p><i class="fas fa-rupee-sign"></i><small>f</small></p></div>
                    <div class="col"><p><i class="fas fa-briefcase" aria-hidden="true"></i><small>f</small></p></div>
                    <div class="col"><p><i class="fas fa-map-marker-alt"></i><small>f</small></p></div>
                </div> -->
        <!-- <div class=" text-uppercase text-secondary">
            <p class="txt"><i class="fas fa-file-alt" aria-hidden="true"></i><small>f</small></p> -->
        <!-- <small class="d-block">247</small> -->
        <!-- </div> -->
        <div class="text-center text-uppercase text-primary">
          <a
            routerLink="/student/history"
            class="genric-btn success-border medium"
            >VIEW HERE<span class="lnr lnr-arrow-right"></span
          ></a>
          <div style="height: 10px"></div>
        </div>
      </div>
    </div>
    <div class="col col-lg-4 mt-5">
      <div
        class="mt-5 px-5 py- bg-light align-items-center justify-content shadow p-3 mb-1 bg-white rounded"
      >
        <div class="text-center"><i class="fas fa-5x text-primary fa-user-circle"></i></div>
        <h5 class="text-center text-info py-2">{{ stud.name }}</h5>
        <h6 class="text-center ">{{ stud.qualification }}/{{ stud.stream }}</h6>

        <div class="text-center text-uppercase text-primary">
          <a
            routerLink="/student/profile"
            class="my- genric-btn success-border medium"
            >UPDATE YOUR PROFILE HERE<span class="lnr lnr-arrow-right"></span
          ></a>
          <div style="height: 10px"></div>
        </div>
      </div>
      <div
        class="pl-40 py-3 bg-light align-items-center justify-content shadow p-3 mb-5 bg-white rounded"
      >
        <div class="text-center my-4 text-secondary"><i class="fas fa-5x fa-cog"></i></div>
        
       

        <!-- <h5 class="text-center"><span class="text-info">UPDATE YOUR PROFILE HERE</span></h5> -->
        <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->

        <div class="row">
          <!-- <div class="col"><p><i class="fas fa-rupee-sign"></i><small>f</small></p></div>
                        <div class="col"><p><i class="fas fa-briefcase" aria-hidden="true"></i><small>f</small></p></div>
                        <div class="col"><p><i class="fas fa-map-marker-alt"></i><small>f</small></p></div> -->
        </div>
        <div class="text-uppercase text-secondary">
          <!-- <p class="txt"><i class="fas fa-file-alt" aria-hidden="true"></i><small>f</small></p> -->
          <!-- <small class="d-block">247</small> -->
        </div>
        <div class="text-center text-uppercase text-primary">
          <!--  routerLink="/student/settings" -->
          <a
            routerLink="/student/settings"
            class="genric-btn success-border medium"
            >RESET PASSWORD<span class="lnr lnr-arrow-right"></span
          ></a>
          <div style="height: 10px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

