<div class="slider-area ">
    <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12" style="font-size: small ">
                    <div class="hero-cap text-center" style="font-size: small ">
                        <h3 style="color: white ;">Job requirements list</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="container">
  <div class="card-body">
      <div class="table-responsive">
          <table class="table"
            *ngIf = 'listJob && listJob.length '>
              <thead>
                  <tr>
                      <th>Job Id</th>
                      <th>Position</th>
                      <th>Job description</th>
                      <th>Vaccancy</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = 'let job of listJob'>

                      <td>{{ job.jobid }}</td>
                      <td>{{ job.position }}</td>
                      <td>{{ job.jd_text }}</td>
                      <td>{{ job.number }}</td>
                      <td><button class="btn btn-warning" style="cursor:pointer"  (click)="viewJob(job)" style="margin-left: 20px;" > View details</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

  </div>
</div>

