<div class="slider-area ">
  <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">
                      <h3 style="color: white;">Post a new requirement</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
<form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && AddJob()"
    novalidate>
    <div class="form-group">
      <!-- <label>Job Id</label> -->
      <input
        type="text"
        placeholder="Job Id"
        class="form-control"
        name="jobid"
        [(ngModel)]="addJob.jobid"
        required
        #jobid="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && jobid.errors }"
      />
      <div *ngIf="f.submitted && jobid.errors" class="invalid-feedback">
        <div *ngIf="jobid.errors['required']">Job Id is required</div>
      </div>
    </div>

    <div class="form-group">
        <!-- <label>Position</label> -->
        <input
          type="text"
          placeholder="Position"
          class="form-control"
          name="position"
          [(ngModel)]="addJob.position"
          required
          #position="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && position.errors }"
        />
        <div *ngIf="f.submitted && position.errors" class="invalid-feedback">
          <div *ngIf="position.errors['required']">Position is required</div>
          <div *ngIf="position.errors['pattern']">Please enter a number</div>
        </div>
      </div>
      <div class="form-group">
        <!-- <label>Job description</label> -->
        <input
          type="text"
          placeholder="Job description"
          class="form-control"
          name="jd_text"
          [(ngModel)]="addJob.jd_text"
          required
          #jd_text="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && jd_text.errors }"
        />
        <div *ngIf="f.submitted && jd_text.errors" class="invalid-feedback">
          <div *ngIf="jd_text.errors['required']">Job description is required</div>
        </div>
      </div>
      <div class="form-group">
        <!-- <label>No. of positions</label> -->
        <input
          type="text"
          placeholder="Number of positions"
          class="form-control"
          name="number"
          [(ngModel)]="addJob.number"
          required
          pattern="([1-9]|[1-9][0-9]|[1-9][0-9][0-9])"
          #number="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && number.errors }"
        />
        <div *ngIf="f.submitted && number.errors" class="invalid-feedback">
          <div *ngIf="number.errors['required']">No. of positions is required</div>
        </div>
      </div>

      <div class="form-group">
        <!-- <label>Salary</label> -->
        <input
          type="text"
          placeholder="Salary"
          class="form-control"
          name="salary"
          [(ngModel)]="addJob.salary"
          #salary="ngModel"/>
      </div>

      <div class="form-group">
      <ng-multiselect-dropdown
            [placeholder]="'skills'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
             [(ngModel)]="selectedItems"
             (onSelect)="onItemSelect($event)"
             (onSelectAll)="onSelectAll($event)"
             name = "skills">
        </ng-multiselect-dropdown>
      </div>

      <div class="form-group">
        <!-- <label>Location</label> -->
        <input
          type="text"
          placeholder="Location"
          class="form-control"
          name="location"
          [(ngModel)]="addJob.location"
          required
          #location="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && location.errors }"
        />
        <div *ngIf="f.submitted && location.errors" class="invalid-feedback">
          <div *ngIf="location.errors['required']">Location is required</div>
        </div>
      </div>
      <div class="form-group">
        <!-- <label>Start date</label> -->
        <input
          type="text"
          placeholder="Application open date"
          class="form-control"
          name="start_date"
          [(ngModel)]="addJob.start_date"
          required
          pattern="^\d{4}-([0]\d|1[0-2])-([0-2]\d|3[01])$"
          #start_date="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && start_date.errors }"
        />
        <div *ngIf="f.submitted && start_date.errors" class="invalid-feedback">
          <div *ngIf="start_date.errors['required']">Start date is required</div>
          <div *ngIf="start_date.errors['pattern']">Please enter a valid date</div>
          <div *ngIf="start_date.errors['pattern']">Please enter the date in YYYY-MM-DD format </div>
        </div>
        </div>
        <div class="form-group">
        <!-- <label>End Date</label> -->
        <input
          type="text"
          placeholder="Application close date"
          class="form-control"
          name="end_date"
          [(ngModel)]="addJob.end_date"
          required
          pattern="^\d{4}-([0]\d|1[0-2])-([0-2]\d|3[01])$"
          #end_date="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && end_date.errors }"
        />
        <div *ngIf="f.submitted && end_date.errors" class="invalid-feedback">
          <div *ngIf="end_date.errors['required']">End date is required</div>
          <div *ngIf="end_date.errors['pattern']">Please enter the date in YYYY-MM-DD format </div>
        </div>
      </div>
    
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
    </div>

