.fnbtn{
    line-height: 25px!important;
    padding: 0 15px!important; 
    color: #ffffff!important;  
}
.fnbtn:hover{    
    color: #0f0101!important;  
}
.centeredbox {  
    position: fixed;
    top: 30%;
    left: 4%;   
  }
  .alrtbox{
    background-color: rgb(64, 186, 243);
  }
  .btgreen{
    background-color: green!important;
  }
  .btgreen:hover{
    background-color: white!important;
  }