
<main>
    <!-- How  Apply Process Start-->
    <div class="single-slider slider-height d-flex align-items-center apply-process-area apply-bg pt-150 pb-150 landingslider">
        <div class="container">
            <!-- Section Tittle -->
            
            <!-- Apply Process Caption -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-search"></span>
                        </div>
                        <div class="process-cap">
                           <h5>New to ICTAK ?</h5>
                           <p>Register here for best candidates who have the best technical knowledge and who suits you the best.</p>
                           <a routerLink="signup" class="genric-btn success circle">Sign Up Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-process text-center mb-30">
                        <div class="process-ion">
                            <span class="flaticon-curriculum-vitae"></span>
                        </div>
                        <div class="process-cap">
                           <h5>Employer Login</h5>
                          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && EmpLogin()"
                          novalidate>
                            <div style="margin-bottom: 15px;">
                            <div class="mt-10">
								<input type="email" class="form-control" name="email" [(ngModel)]="user.email" required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.errors }"/>
                                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                                <div *ngIf="email.errors['required']">Email is required</div>
                                <div *ngIf="email.errors['email']">Email is invalid</div>
                                </div>
							</div>
                                <div class="mt-10">
                                    <input type="password" class="form-control" name="password" [(ngModel)]="user.password"
                                        required minlength="8" maxlength="40" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }"/>
                                    <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
                                        <div *ngIf="password.errors['required']">Password is required</div>
                                        <div *ngIf="password.errors['minlength']">Password must be at least 8 characters</div>
                                        <div *ngIf="password.errors['maxlength']">Username must not exceed 40 characters</div>
                                    </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit"  class="genric-btn success circle">Login</button>
                                </div>
                           </form>

                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    
                </div>
            </div>
         </div>
    </div>
    <!-- How  Apply Process End-->
   
</main>
