<div class="row">
    <div class="col-12">
            <div class="small-section-tittle2 mb-25">                                
            <h4><span class="flaticon-tour" style="padding-right:5px; color:brown"></span>Admin Title</h4>
        </div>
    </div>
</div>

<div class="job-category-listing mb-50">
<aside class="single_sidebar_widget post_category_widget">
    <h5 class="widget_title"><i class="fa fa-cog" aria-hidden="true"></i> Settings</h5>
    <ul class="list cat-list">
        <li>
            <a routerLink="/admin/dashboard" class="d-flex">
                <p>Dashboard</p>                                        
            </a>
        </li>
        <li>
            <a routerLink="/admin/adminlist" class="d-flex">
                <p>Admin Users</p>                                        
            </a>
        </li>
        <li>
            <a routerLink="/admin/resetpassword" class="d-flex">
                <p>Change Password</p>                                        
            </a>
        </li>
        <li>
            <a routerLink="/admin/employer" class="d-flex">
                <p>Manage Employers</p>                                        
            </a>
        </li>
        <li>
            <a routerLink="/admin/addemployer" class="d-flex">
                <p>Add Employer</p>                                        
            </a>
        </li>
        <li>
            <a routerLink="/admin/candidates" class="d-flex">
                <p>Manage Students</p>                                        
            </a>
        </li>        
        <li>
            <a routerLink="/admin/courses" class="d-flex">
                <p>ICTAK Courses</p>                                        
            </a>
        </li>

        <li>
            <a routerLink="/admin/ictakstudents" class="d-flex">
                <p>ICTAK Students</p>                                        
            </a>
        </li>
        <li>
            <a href="/admin" class="d-flex">
                <p>Logout</p>                                        
            </a>
        </li>                                
    </ul>
</aside> 
</div>
