
<div class="slider-area ">
  <div class="single-slider section-overly d-flex align-items-center"  style="height:150px!important;">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">                            
                      <h2>Apply For Job</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container asa col-lg-7">
  <!-- <div class="text-center mb-5">
        
        <h1 class="text-capitalize font-weight-bold">Jobs for You</h1>
    </div> -->

  <div
    class="my-5 pl-40 py-3 bg-light align-items-center justify-content shadow p-3 mb-5 bg-white rounded"
  >
    <h5>
      <span class="text-primary">{{ jobs.position }}</span>
    </h5>
    <p>
      <span class="text-danger">{{ jobs.company }}</span>
    </p>
    <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->

    <div class="row">
      <div class="col">
        <p>
          <i class="fas fa-rupee-sign text-warning"></i
          ><small>{{ jobs.salary }}</small>
        </p>
      </div>
      <div class="col">
        <p>
          <i class="fas fa-briefcase" aria-hidden="true"></i
          ><small>{{ jobs.experience }}</small>
        </p>
      </div>
      <div class="col">
        <p>
          <i class="fas fa-map-marker-alt text-info"></i
          ><small>{{ jobs.location }}</small>
        </p>
      </div>
    </div>
    <!-- <div class=" text-uppercase text-secondary"> -->
    <!-- <p class="txt"><i class="fas fa-file-alt" aria-hidden="true"></i><small>{{jobs.jd_text}}</small></p> -->
    <!-- <small class="d-block">247</small> -->
    <!-- </div> -->
    <div class="text-uppercase text-primary">
      <button
        [disabled]="buttonDisabled"
        (click)="Click(jobs.jobid)"
        *ngIf="!buttonDisabled; else asa"
        routerLink="/student/apply"
        class="genric-btn success-border medium"
      >
        APPLY<span class="lnr lnr-arrow-right"></span>
      </button>
      <ng-template #asa>
        <button class="genric-btn success-border medium">
          <i class="fas fa-check-circle" aria-hidden="true"></i>APPLIED
          <span class="lnr lnr-arrow-right"></span>
        </button>
      </ng-template>
      <!-- <div style="height: 10px;"></div> -->
      <!-- <div *ngIf="isValid; else templateName">
                    If isValid is true
                </div>
                
                <ng-template #templateName>
                    If isValid is false
                </ng-template> -->
    </div>
  </div>

  <div
    class="my-5 pl-40 py-3 bg-light align-items-center justify-content shadow p-3 bg-white rounded"
  >
    <div>
      <h6>
        <u><span class="text-info">Job description</span></u>
      </h6>
      <p class="txt">
        <i class="fas fa-2x fa-file-alt mr-2" aria-hidden="true"></i>
        {{ jobs.jd_text }}
      </p>
      <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->
    </div>
    <div>
      <h6>
        <u><span class="text-info">Skills Required</span></u>
      </h6>
      <ng-container *ngFor="let item of jobs.skills">
        <p class="txt">{{ item.item_text }}</p>
        <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->
      </ng-container>
    </div>
    <!-- <div class="text-uppercase text-primary">
                <button  [disabled]="buttonDisabled" (click)= Click(jobs.jobid) *ngIf="!buttonDisabled;else asa" routerLink="/student/apply" class="genric-btn success-border medium">APPLY<span
                    class="lnr lnr-arrow-right"></span></button>
                    <ng-template #asa>
                        <button    class="genric-btn success-border medium"><i class="fas fa-check-circle " aria-hidden="true"></i>APPLIED <span
                            class="lnr lnr-arrow-right"></span></button>    
                    </ng-template> -->
    <!-- <div style="height: 10px;"></div> -->
    <!-- <div *ngIf="isValid; else templateName">
                        If isValid is true
                    </div>
                    
                    <ng-template #templateName>
                        If isValid is false
                    </ng-template> -->
    <!-- </div>   -->
  </div>
</div>
